{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

<div class="col-sm-12" style = "padding-top:50px;">
    <div class="row">
        <div class="col-sm-4 offset-sm-1">
            <a class="btn btn-outline-primary" href="/" role="button">< На главную</a>
        </div>
        <div class="col-sm-2 offset-sm-5">
            <a class="btn btn-outline-danger" href="/auth/exit" role="button">Выход</a>
        </div>
    </div>
</div>

<div class="col-sm-10 offset-sm-1" style = "margin-top:30px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <h3>{{ name }}</h3>
            </div>
            <br>

            <div class="col-sm-12">
                <b>Описание: </b>{{ desc }}
            </div>

            <div class="col-sm-12">
                <b>Статус: </b>
                {% if status == 1 %}
                    Ожидает рассмотрения
                {% endif %}

                {% if status == 2 %}
                    Назначена встреча
                {% endif %}

                {% if status == 3 %}
                    Сообщение от юриста
                {% endif %}

                {% if status == 4 %}
                    В работе
                {% endif %}

                {% if status == 5 %}
                    Ожидание Ваших действий
                {% endif %}

                {% if status == 6 %}
                    Завершено
                {% endif %}

                {% if status == 7 %}
                    Ожидание платежа за обращение
                {% endif %}

                {% if status == 8 %}
                    Поиск юриста
                {% endif %}
            </div>

            <div class="col-sm-12">
                <b>Дата создания: </b>{{ cr_date }}
            </div>
            <hr>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    {% if status != 7 %}
                    <b>Юристы проекта:</b>
                    {% endif %}

                    {% for i in range(0, lawyers_count) %}
                    <p>{{ lawyers[i]['lawyer_name'] }}</p><br>
                    {% endfor %}
                </div>
                <br>
                {% if status == 7 %}
                <div class="col-sm-12">
                    <a class="btn btn-warning" href="/pay/{{ id }}" role="button">Оплатить</a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-8 messenger">
            <iframe src = "/client/chat" width="100%" height = "100%" style="border: 0px;">
            </iframe>
        </div>

        {{dialogues}}}

    </div>
</div>

{% endblock %}