{% extends "base.html" %}

{% block content %}

<div class="col-sm-12" style="padding-top:50px;">
    <div class="row">
        <div class="col-sm-4 offset-sm-1">
            <a class="btn btn-outline-primary" href="/" role="button">< На главную</a>
        </div>
        <div class="col-sm-2 offset-sm-5">
            <a class="btn btn-outline-danger" href="/auth/exit" role="button">Выход</a>
        </div>
    </div>
</div>

<div class="col-sm-10 offset-sm-1" style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <h3>{{ name }}</h3>
            </div>
            <br>

            <div class="col-sm-12">
                <b>Описание: </b>{{ desc }}
            </div>

            <div class="col-sm-12">
                <b>Статус: </b>
                {% if status == 1 %}
                Ожидает рассмотрения
                {% endif %}

                {% if status == 2 %}
                Назначена встреча
                {% endif %}

                {% if status == 3 %}
                Сообщение от юриста
                {% endif %}

                {% if status == 4 %}
                В работе
                {% endif %}

                {% if status == 5 %}
                Ожидание Ваших действий
                {% endif %}

                {% if status == 6 %}
                Завершено
                {% endif %}

                {% if status == 7 %}
                Ожидание платежа за обращение
                {% endif %}

                {% if status == 8 %}
                Поиск юриста
                {% endif %}
            </div>

            <div class="col-sm-12">
                <b>Дата создания: </b>{{ cr_date }}
            </div>
            <hr>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    {% if status != 7 %}
                    <b>Юристы проекта:</b>
                    {% endif %}

                    {% for i in range(0, lawyers_count) %}
                    <p>{{ lawyers[i]['lawyer_name'] }}</p><br>
                    {% endfor %}
                </div>
                <br>
                {% if status == 7 %}
                <div class="col-sm-12">
                    <a class="btn btn-warning" href="/pay/{{ id }}" role="button">Оплатить</a>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-8 messenger">
            <div class="box">
                <ul class="messages">
                    {% for i in range(0, messages) %}
                    {% if dialogues[i]['is_admin'] == 0 and client == 1 %}
                    <li class="sent">
                        <img src="https://cdn3.iconfinder.com/data/icons/basic-ui-39/16/07_question-help-ask-512.png"
                             alt=""/>
                        <p>{{ dialogues[i]['text'] }}</p>
                    </li>
                    {% endif %}

                    {% if dialogues[i]['is_admin'] == 1 and client == 1 %}
                    <li class="replies">
                        <img src="https://cdn1.iconfinder.com/data/icons/security-law/500/law_iconsArtboard_1_copy_7-512.png"
                             alt=""/>
                        <p>{{ dialogues[i]['text'] }}</p>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="mes_form">
                <input class="form-control" type="text" id = "mess" name="message" placeholder="Ваше сообщение" style="line-height: 45px;width: 60%; float: left;">
                <button class="btn btn-primary mb-2" id = "send" type = "submit" style = "margin: 0px 15px;">Отправить</button>
                <a href="https://www.filedropper.com/" target = "_blank" class="btn btn-primary" style = "margin-top: -8px;" role="button">Файл</a>
            </div>
        </div>


    </div>
</div>

<script>
    $(".box").scrollTop($('.box')[0].scrollHeight);
    var cnt = '{{ messages }}';
    //alert(cnt)

    function checkMsg(){
        $.ajax({ url: "/client/ms_cnt/{{id}}", success: function(data){
            if(data != cnt) {
                var to_get = data-cnt;
                console.log(to_get)
                cnt = data;

                $.ajax({ url: "/client/last/{{id}}/" + to_get, success: function(data){
                    console.log(data)
                }, dataType: "json"});
            }
        }, dataType: "json"});
    }

    setInterval(checkMsg, 3000);

    $("#send").click(function () {
        var message = $("#mess").val();

        $.ajax({ url : "/client/send/{{ id }}/" + message, success: function(data) {
            checkMsg();
        },dataType: "json" });
    })
</script>

{% endblock %}