{% extends "base.html" %}

{% block content %}
<a href = "/">Главная</a><br>
Новое обращение

Тут будет месенджер, а так же обновляться статус ображения в реальном времени. Нужно будет в шаблоне фласка сделать if-ами название каждого статуса проекта<br>
Если 7 выводить кнопку с ссылкой на /pay/{ticket_id}
<br><br>
Клиент: {{ client_name }}<br>
Статус: {{ status }}<br>
Все статусы в описании<br><br>
Название: {{ name }}<br>
Описание: {{ desc }}<br>
Дата создания: {{ cr_date }}<br>
<br><br>
Спиок юристов проекта:<br>
{{ lawyers }}
<br>

<a href = "/pay/{{ id }}">Олатить (показывать если только статус 7)</a><br>
Все статусы в описании

{% endblock %}