{% extends "base.html" %}

{% block content %}
<a href = "/">Главная</a><br>

Общение юриста с клиентами

Тут будет месенджер, а так же обновляться статус ображения в реальном времени. Нужно будет в шаблоне фласка сделать if-ами название каждого статуса проекта<br>
<br>
Если 8 выводить кнопку "взять проект"
<br>
Так же, если статут не 7 и не 8, то выводить юристов, работающих на проекте
<br>
Также выводится Имя клиияента
<br>
Затем возможно назнанчение встречи
<br><br>
Статус: {{ status }}<br>
Все статусы в описании<br><br>
Название: {{ name }}<br>
Описание: {{ desc }}<br>
Дата создания: {{ cr_date }}<br>

<form action = "/lawyer/take/{{ id }}" method="post">
    <input type="submit" value="Взять">
</form>

<br><br>
Спиок юристов проекта:<br>
{{ lawyers }}
<br>


{% endblock %}