{% extends "base.html" %}

{% block content %}
<div class="col-sm-4 offset-sm-4" style = "margin-top:80px;">
    <h3 class="title">Войдите по предоставленному Вам логину и паролю</h3><br>
    <form method="POST" action="/auth/signin">
        <div class = "form-group">
            <input class="form-control" type="text" name="login" placeholder="Логин" autofocus="">
            <br>
            <input class="form-control" type="password" name="password" placeholder="Пароль">
            <br>
            <button class="btn btn-primary mb-2" type = "submit">Вход</button>
        </div>
    </form>
</div>
{% endblock %}