.ticket {
    width: 100%;
    min-height: 120px;
    border: 1px solid #31d9a5;
    border-radius: 5px;
    padding: 18px;
    margin-bottom: 30px;
}

.messenger {
    height: 600px;
}

.box {
    height: 550px;
    overflow-y: scroll;
}

.messages li img {
    width: 45px;
    float: left;
    margin-right: 30px;
}

.messages {
    list-style-type: none;
    float: left;
    width: 80%;
}

.messages li {
    margin: 10px;
    background: #ebebeb;
    width: 100%;
    padding: 15px;
}

.mes_form {
    width: 100%;
}